{% extends 'partials/base.html.twig' %}
{% import _self as macro %}

{% set show_onpage_menu = header.onpage_menu == true or header.onpage_menu is null %}
{% macro pageLinkName(text) %}{{ text|lower|replace({' ':'_'}) }}{% endmacro %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block bottom %}
    {{ parent() }}
{% endblock %}

{% block body_classes %}{{ parent() }} {% endblock %}

{% block header_navigation %}
    {{ parent() }}
{% endblock %}



{% block content %}
    <div class="project-list container-fluid">
        <div class="row {% if page.header.position == 2 %}reverse{% endif %}" style="height:100vh">
            {% include 'partials/yourproject_item_cover.html.twig' with {'parent': page.parent, 'page': page, 'sibling': page.collection({ items: '@self.siblings'})|first} %}
            <div class="col-md-12 col-lg-6">
                <div id="fullpage">
                    {% for textBlock in page.header.textBlocks %}
                        <div class="section p-3">{{ textBlock.block | markdown }}</div>
                    {% endfor %}
                    <div class="section p-3">
                        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfaB-CdaDDLyY3AE-dU3To3nFwXSpXbIYIEv6bYoovaqI2-Fw/viewform?embedded=true" width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0">Chargement…</iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
