{% extends 'partials/base.html.twig' %}
{% import _self as macro %}

{% set show_onpage_menu = header.onpage_menu == true or header.onpage_menu is null %}
{% macro pageLinkName(text) %}{{ text|lower|replace({' ':'_'}) }}{% endmacro %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block bottom %}
    {{ parent() }}
{% endblock %}

{% block body_classes %}{{ parent() }} {% endblock %}

{% block header_navigation %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="project container-fluid">
        <div class="row">
            <div class="col-md-12 col-lg-6 col-xl-6">
                <div id="carouselIndicators" class="carousel slide w-100 carousel-fade"
                     data-ride="carousel">
                    <div class="carousel-inner">
                        {% for image in page.media.images %}
                            <div class="carousel-item {% if loop.index0 == 0 %}active{% endif %}">
                                {{ image.resize(1200, 900, 'rgb(229, 231, 231)').html(page.title, page.title)|raw }}
                            </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    <ol class="carousel-indicators d-none d-sm-flex">
                        {% for image in page.media.images %}
                            <li data-target="#carouselIndicators" data-slide-to="{{ loop.index0 }}">
                                {{ image.resize(120, 90, 'rgb(229, 231, 231)').html(page.title, page.title)|raw }}
                            </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 col-xl-4 offset-xl-1 pt-3">
                <div class="row">
                    <div class="project-description">
                        {{ page.content|raw }}
                    </div>
                </div>
                <div class="row d-md-none d-lg-block other-projects">
                    <div class="row  text-center align-items-center justify-content-center">
                        <h2>Autres réalisations</h2>
                    </div>
                    <div class="row">
                        {% set sibling = page %}
                        {% for i in 0..2 %}
                            {% if sibling.isLast %}
                                {% set sibling = page.collection({ items: '@self.siblings'}).first %}
                            {% else %}
                                {% set sibling = sibling.adjacentSibling(-1) %}
                            {% endif %}
                            <div class="col-4">
                                {% set sibling_image = sibling.header.header_image|defined(true) %}
                                {% set sibling_image_file = sibling.header.header_image_file %}
                                <a href="{{ sibling.url }}">
                                    {% if sibling_image %}
                                        {% if sibling_image_file %}
                                            {% set sibling_image_media = sibling.media.images[sibling_image_file] %}
                                        {% else %}
                                            {% set sibling_image_media = sibling.media.images|first %}
                                        {% endif %}
                                        {{ sibling_image_media.resize(240, 180, 'rgb(229, 231, 231)').html(sibling.title, sibling.title)|raw }}
                                    {% endif %}
                                    <span>{{ sibling.title|truncate(50) }}</span>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
