{% set header_image = page.header.header_image|defined(true) %}
{% set header_image_file = page.header.header_image_file %}
<div class="col-md-6">
    <a style="text-decoration: none;" href="{{ page.url }}">
        <div
            class="header hero {{ page.header.hero_classes }} {{ classes }} {{ page.header.hero_scroll ? 'hero-scroll-icon' : '' }}"
            style="height: 100%;
            {% if header_image %}
                {% if header_image_file %}
                    {% set header_image_media = page.media.images[header_image_file] %}
                {% else %}
                    {% set header_image_media = page.media.images|first %}
                {% endif %}
                background-image: url({{ header_image_media.url }});
            {% endif %}
                ">
            <div class="container">
                <h2>{{ page.title }}</h2>
            </div>
        </div>
    </a>
</div>
